#searchTerm {

}

.btn-style {
  padding:10px;
  margin: auto;
}
#searchForm {
  padding:10px;
  margin: auto;
}

#buttonDiv {
  padding: 10px;
  margin: auto;
  background-color: gray;
}

#gifsAppearHere {
  padding: 10px;
  margin: auto;
  background-color: gray;
}

